@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #f1f5f8;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px;
  max-width: 500px;
  margin: 0px auto;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.label {
  font-size: 18px;
}

.form-kontrol {
  width: 500px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
}
.form-kontrol:focus {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.form-textarea {
  height: 100px;
}

.form-btn {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

#сomment-date {
  margin: 10px 0px 10px 0px;
  font-size: 16px;
  background-color: #f1f5f8;
}

.btn {
  height: 34px;
  width: 150px;
  border-radius: 17px;
  background: #0e0a4b;
  color: #ffffff;
}
.btn:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.out-put {
  position: relative;
  width: 500px;
  margin: 20px 0;
  background: #ffffff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
}

.text-out {
  padding: 8px;
}
.text-out:first-child {
  text-align: right;
  font-style: italic;
}
.text-out:nth-child(2) {
  font-weight: 900;
}
.text-out:nth-child(2)::first-letter {
  text-transform: uppercase;
}
.text-out:nth-child(3) {
  margin-bottom: 30px;
}

.remove-button {
  width: 20px;
  height: 25px;
  background: url(../img/clear2.jpg) 0 0/cover no-repeat;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.count {
  position: absolute;
  left: 38px;
  bottom: 10px;
}

.like {
  margin: 0px 0px 0px 10px;
  width: 25px;
  height: 20px;
  background: url(../img/herzbild-13.jpg) 0 0/cover no-repeat;
  position: absolute;
  left: 0px;
  bottom: 8px;
}

.error {
  border: 2px solid red;
}

.comment-error {
  color: red;
  font-size: 12px;
  margin: -4px 0px 6px 0px;
}

.none {
  display: none;
}